:root {
  /* ### Primary */
  --Green: hsl(75, 94%, 57%);
  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
}

.container-personaje {
  padding: 1vh 1vh 3vh 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--DarkGrey);
  border-radius: 2em;
  box-shadow: 2px 4px 15px var(--Grey);
}
.home{
  width: 20vh;
  color: var(--Green);
}