:root {
    /* ### Primary */
    --Green: hsl(75, 94%, 57%);
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
  }

  .cuadro {
    width: 80%;
    max-width: 400px;
    background-color: var(--Grey);
    align-items: center;
    text-align: center;
    margin: 20px;
    border-radius: 2em;
    box-shadow: 2px 4px 15px #3f3f3f;
    padding: 20px 25px;
  }
  
  .container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  