img {
  border-radius: 50%;
  width: 30%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}
h3 {
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
