img {
  border-radius: 50%;
  width: 30%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}
h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
}
h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: hsl(0 93.64% 56.86%);
  font-weight: 600;
}
h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: hsl(24.94 100% 50%);
  font-weight: 600;
}